// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$f-font-path:"../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

#topbar{
    color:white;
    height: 3rem;
    text-align: center;

}
.blue-text {
    color: #2196f3!important;
}
.green-text {
    color: #4caf50!important;
}

